{# templates/admin/main.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}TechBoard - Administration{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Administration / Gestion</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contrats</h5>
                <p class="card-text">Gestion des contrats en cours, durée, renouvellements</p>
                <a href="administration.php?section=contracts" class="btn btn-primary">Voir les contrats</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Commandes / Devis</h5>
                <p class="card-text">Suivi des commandes, statuts, liens vers projets</p>
                <a href="administration.php?section=orders" class="btn btn-primary">Voir les commandes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}